	* {
		visibility: visible;
	}
	body {
                margin:0;
                padding:0;
		background-color: #F5F5F5;
		background-repeat: repeat-y;
	}
	body .product{
		display: inline-block;
		background-color: white;
	}
	a {
		color: black;
	}
	img {
		visibility: visible;
	}
	.product {

		border: 1px solid #ebebeb;
		width: 20%;
		padding-bottom: 35px;
		margin-left: 3.5%;
		margin-top: 2%;
		cursor: pointer;
		visibility: visible;
		display: block;
	}

	.product:hover {
		box-shadow: 1px 1px 1px 1px #c0c0c0;
		

	}

	.product *{
		margin:8%;
	}
	.productPhoto {
		 margin-left: 8%;
		 margin-top: 5%;
		 height: 225px;
		 width: 225px;
	}
	.moreInfo {
		margin:2%;
	}
	.emriIproduktit{
		margin-top:2%;
		margin-bottom: 0px;
		text-shadow: 1px 0.3px grey;
	}
	.cmimiIproduktit{
		margin-top:2%;
		margin-bottom: 0px;
		margin-left: 0px;
		font-size:16px;	
	}	
	.lexoButton{
		margin-top:2%;
	}
	.porositButton{
		float: right;
		margin-top: 10px;
	}
	.lexoButton{
		float:right;
		margin-right:10%;

	}
	.moreInfo p {
		margin-top: 30px;
	}
	.zgjedhProduktin {
		font-size: 24px;
		margin-left:3.5%;
		margin-top: 1%;
	}

	select {
		font-size: 20px;
		margin-left: 3.5;
	}
